<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.reviewx.web.mapper.auth.SysRoleMapper">
    <insert id="insert" parameterType="com.lvwyh.reviewx.web.entity.auth.SysRole" useGeneratedKeys="true" keyProperty="roleId" keyColumn="ROLE_ID">
        INSERT INTO SYS_ROLE (ROLE_CODE, ROLE_NAME, ROLE_STATUS, IS_DELETE)
        VALUES (#{roleCode}, #{roleName}, #{roleStatus}, #{isDelete})
    </insert>

    <select id="selectByRoleCode" resultType="com.lvwyh.reviewx.web.entity.auth.SysRole">
        SELECT ROLE_ID, ROLE_CODE, ROLE_NAME, ROLE_STATUS, IS_DELETE
        FROM SYS_ROLE
        WHERE ROLE_CODE = #{roleCode}
        LIMIT 1
    </select>

    <select id="selectRoleCodesByUserId" resultType="string">
        SELECT r.ROLE_CODE
        FROM SYS_ROLE r
        INNER JOIN SYS_USER_ROLE ur ON ur.ROLE_ID = r.ROLE_ID
        WHERE ur.USER_ID = #{userId}
          AND r.ROLE_STATUS = 1
    </select>
</mapper>
