<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvwyh.reviewx.web.mapper.auth.SysUserTokenVersionMapper">
    <select id="selectByUserId" resultType="com.lvwyh.reviewx.web.entity.auth.SysUserTokenVersion">
        SELECT USER_ID, TOKEN_VERSION FROM SYS_USER_TOKEN_VERSION WHERE USER_ID = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO SYS_USER_TOKEN_VERSION (USER_ID, TOKEN_VERSION) VALUES (#{userId}, #{tokenVersion})
    </insert>

    <update id="updateTokenVersion">
        UPDATE SYS_USER_TOKEN_VERSION SET TOKEN_VERSION = #{tokenVersion} WHERE USER_ID = #{userId}
    </update>
</mapper>
